<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Add Notifications
    </title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      .AddNotifSec{
        height: 15rem;
        background-color: rgb(187, 255, 207);
      }
      .NotifiList{
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Smart Notice Board
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
          </button>
          
          <form class="d-flex">
            <div class="addNotif px-3">
              <a class="btn btn-success d-flex align-items-center" href="/admin">Go Back
               
              </a>
            </div>
            <button class="btn btn-outline-success" onclick="window.location.href='/'" type="button">Sign Out
            </button>
          </form>
        </div>
        </div>
      </nav>
    </header>
  <!-- <section class="AddNotifSec d-flex align-items-end justify-content-center">
    <div class="addNotif p-3">
      <a class="btn btn-success d-flex align-items-center" href="admin.html">Go Back
       
      </a>
    </div>
  </section> -->
  <section class="d-flex justify-content-center p-5">
    <div class="container">
      <div class=" text-center mt-5 ">
        <h1>Add Notifications
        </h1>
      </div>
      <div class="row ">
        <div class="col-lg-7 mx-auto">
          <div class="card mt-2 mx-auto p-4 bg-light">
            <div class="card-body bg-light">
              <div class="container">
                <form  class="addnot" id="addnot" role="form" action="/adnot" method="post">
                  <div class="controls">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="form_name">Title
                          </label>
                          <input id="form_name" type="text" name="title" class="form-control" placeholder="Title of the Notification*" required="required" data-error="Firstname is required.">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="form_email">Subtitle
                          </label>
                          <input id="form_email" type="text" name="subtitle" class="form-control" placeholder="Subtitle *" required="required" data-error="Valid email is required.">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="form_need">Notice type
                          </label>
                          <select id="form_need" name="type" class="form-control" required="required" data-error="Please specify your need.">
                            <option value="" selected disabled>--Select Type--
                            </option>
                            <option >Class
                            </option>
                            <option >COllege
                            </option>
                            <option >KTU
                            </option>
                            <option >Other
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Meassage</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Enter Message" name="message" rows="3"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <input type="submit" class="btn btn-success btn-send  pt-2 btn-block
                                                    " value="ADD" >
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.8 -->
        </div>
        <!-- /.row-->
      </div>
    </div>
  </section> 
  <!-- Begin page content -->
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Smart Notice Board
      </span>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
  </script>
  </body>
</html>
